<td-layout class='layout-nav-list-demo' sidenavWidth='280px'>
  <td-navigation-drawer flex sidenavTitle="TVMC" logo="assets:teradata-dark" >
    <mat-nav-list>
      <a mat-list-item routerLink="/graphs"><mat-icon>signal_cellular_4_bar</mat-icon>Overview</a>
      <a mat-list-item routerLink="/cost"><mat-icon>attach_money</mat-icon>Cost Saving</a>
      <a mat-list-item><mat-icon>power_settings_new</mat-icon>Logout</a>
      <a mat-list-item tdLayoutToggle><mat-icon>close</mat-icon>Close Drawer</a>
    </mat-nav-list>

  </td-navigation-drawer>

  <td-layout-nav logo="assets:teradata" toolbarTitle="TVMC" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </td-layout-nav>
 </td-layout>