<td-layout class='layout-nav-list-demo' sidenavWidth='280px'>
  <td-navigation-drawer flex sidenavTitle="Scratchpad" logo="assets:teradata-dark" >
    <mat-nav-list>
      <a mat-list-item><mat-icon>power_settings_new</mat-icon>Logout</a>
      <a mat-list-item tdLayoutToggle><mat-icon>close</mat-icon>Close Drawer</a>
    </mat-nav-list>

  </td-navigation-drawer>
  <td-layout-nav-list logo="assets:teradata" toolbarTitle="Scratchpad" navigationRoute="/" opened="true" mode="side">
    <button mat-icon-button td-menu-button tdLayoutToggle class="menu">
      <mat-icon>menu</mat-icon>
    </button>
     <div td-sidenav-content>
      <mat-nav-list>
        <a mat-list-item><mat-icon>signal_cellular_4_bar</mat-icon>Function Performance</a>
      </mat-nav-list>
    </div>
    <div td-toolbar-content>
      <button mat-button tdLayoutNavListToggle class="menu">
        <mat-icon *ngIf="opened" (click)="toggle()">close</mat-icon>
        <mat-icon *ngIf="!opened" (click)="toggle()">launch</mat-icon>
      </button>
    </div>
   <router-outlet></router-outlet>
  </td-layout-nav-list>
 </td-layout>