<h1  class="mat-display-2">Welcome to Teradata Vantage Multiplatform Consolidator</h1>
<!-- <h1  class="mat-display-2">TVMC</h1> -->


<div class="subtitle">
<p>&nbsp;</p>
<p><span style="color: #3366ff;"><strong style="font-size:25px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #ff6600;font-size:40px;">T</span>eradata</strong></span></p>
<p><span style="color: #3366ff;"><strong style="font-size:25px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #ff6600;font-size:40px;">V</span>antage</strong></span></p>
<p><span style="color: #3366ff;"><strong style="font-size:25px;" >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #ff6600;font-size:40px;">M</span>ultiplatform</strong></span></p>
<p><span style="color: #3366ff;"><strong style="font-size:25px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #ff6600;font-size:40px;">C</span>onsolidator</strong></span></p>
<p>&nbsp;</p>
</div>
<!-- <ul>
  <li><span style="color: #00ffff;"><strong>Evaluate the Teradata Vantage Functions under multicloud platform</strong></span></li>
  <li><span style="color: #00ffff;"><strong>Translate it into Cost</strong></span></li>
  <li><span style="color: #00ffff;"><strong>Provide end to end report for low cost cloud comsumption bill</strong></span></li>
</ul> -->
<div  class="procedure">
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>star</mat-icon>
        <p matLine style="font-size:25px;font-weight:bold">Evaluate the Teradata Vantage Functions under multicloud platform</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>star</mat-icon>
        <p matLine style="font-size:25px;font-weight:bold">Translate it into Cost</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>star</mat-icon>
        <p matLine style="font-size:25px;font-weight:bold">Provide end to end report for low cost cloud comsumption bill</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</div>

