<h1 style="text-align: center;"><span style="color: #3366ff;"><strong>Welcome to Teradata Vantage Multiplatform Consolidator</strong></span></h1>
<h2 style="text-align: center;"><span style="color: #808000;"><strong>TVMC</strong></span></h2>
<p>&nbsp;</p>
<p><span style="color: #3366ff;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #ff6600;">T</span>eradata</strong></span></p>
<p><span style="color: #3366ff;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #ff6600;">V</span>antage</strong></span></p>
<p><span style="color: #3366ff;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #ff6600;">M</span>ultiplatform</strong></span></p>
<p><span style="color: #3366ff;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #ff6600;">C</span>onsolidator</strong></span></p>
<p>&nbsp;</p>
<ul>
  <li><span style="color: #00ffff;"><strong>Evaluate the Teradata Vantage Functions under multicloud platform</strong></span></li>
  <li><span style="color: #00ffff;"><strong>Translate it into Cost</strong></span></li>
  <li><span style="color: #00ffff;"><strong>Provide end to end report for low cost cloud comsumption bill</strong></span></li>
</ul>
