
<mat-card>
    <mat-card-content>
        <form [formGroup]="cloudPerf" class="functions" (ngSubmit)="onSubmit(cloudPerf.value)" >
         
            <mat-form-field appearance="outline">
                <mat-label>Choose Category</mat-label>
                <mat-select formControlName="category" >
                    <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Choose Function</mat-label>
                <mat-select formControlName="function" >
                    <mat-option *ngFor="let function of functions" [value]="function.functionName">{{ function.functionName }}</mat-option>
                </mat-select>
            </mat-form-field>

            <div formArrayName="queries" *ngFor="let item of cloudPerf.get('queries').controls;index as idx">
            <mat-form-field>
                <textarea rows="4" cols="4"
                matInput [formControlName]="idx"
                [value]="item.value" >
            </textarea>
            </mat-form-field>
            </div>
        <!--     <ng-container *ngFor="let query of queries;let i = index">
                      <td-code-editor
                     [style.height.px]="50"
                     editorStyle="border:0;"
                     flex
                     theme="vs"
                     language="sql"
                     [editorOptions]="{readOnly:true, fontSize:20}"
                     [(ngModel)]="query"
                     (ngModelChange)="callBackFunc()">
             </td-code-editor> 
             <mat-form-field>
               <mat-label>Query</mat-label>
             <textarea
               matInput
               [value]="query"></textarea>
            </mat-form-field>
                 </ng-container> -->
            <mat-form-field>
                <mat-label>Choose Cloud</mat-label>
                <mat-select formControlName="cloud" multiple>
                    <mat-option *ngFor="let cloud of clouds;let i = index" [value]="cloud" [disabled]="i==2">{{ cloud }}</mat-option>
                </mat-select>
            </mat-form-field>

        
            <div class="actions">
                <div><button type="submit" mat-raised-button>Run Function</button></div>
            </div>
           
        </form>
    </mat-card-content>
</mat-card>

<div class="chart" [chart]="chart">

</div>
<!-- 
<div #child>

</div> -->
