@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
@import '../src/main/main.component.theme.scss';
@import '../src/app/home/home.component.theme.scss';

$custom-typography: mat-typography-config(
  $button: mat-typography-level(14px, 14px, 400)
);
$custom-toolbar-typography: mat-typography-config(
  $title: mat-typography-level(20px, 32px, 400)
);
@include mat-core($custom-typography);

// Setting the toolbar to the proper spec weight
@include mat-toolbar-typography($custom-toolbar-typography);

@import './teradata-branding';
// Manually import since we're not using platform.css
// Include the core styles for Covalent
@include covalent-core();
// Include pre-bundled material-icons
$mat-font-url: '../node_modules/@covalent/core/common/styles/font/';
@include covalent-material-icons();
// Include covalent utility classes
@include covalent-utilities();
// Include flex layout classes
@include covalent-layout();
// Include covalent color classes
@include covalent-colors();

$primary: mat-palette($td-slate, 700, 100, 900);
$accent: mat-palette($td-orange, 800, 200, 900);
$warn: mat-palette($mat-red, 600, 200, 900);

$theme: mat-light-theme($primary, $accent, $warn);


@mixin sample-charts-theme($theme) {
    @include main-component-theme($theme);
    @include home-component-theme($theme);
}

@include angular-material-theme($theme);
@include covalent-theme($theme);
@include sample-charts-theme($theme);